<header>Header</header>
<div class="selects">
    <div class="selectMenu">
        <select [(ngModel)]="roverChose">
        <option *ngFor="let rover of rovers" [value] = "rover.id">{{rover.fullName}}</option>
      </select>
        <select [(ngModel)]="cameraChose">
          <option *ngFor="let camera of cameras | cameraFilter:roverChose" [value] = "camera.id">{{camera.fullName}}</option>
        </select>

    </div>
</div>

<div *ngFor="let item of items.slice(0,10)">
    <div class="element">
        <img src="{{item.img_src}}" style="width: 20%;" alt="">
        <span>{{item.camera.full_name}}, {{item.earth_date}}</span></div>
</div>